<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	   http://www.springframework.org/schema/aop
	   http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
	   http://www.springframework.org/schema/tx
	   http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
	   http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context-3.2.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">



<bean id="userService" class="interfaceImpl.userImpl"></bean>
<bean id="dataSourceFactory" class="dao.ColinDataSourceFactory" ></bean>
<bean id="dataSource" factory-bean="dataSourceFactory" factory-method="getDataSource"></bean>

<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
<property name="dataSource" ref="dataSource" />    
<property name="configLocation" value="classpath:MyBatisConfig.xml"></property> 
<property name="mapperLocations" >
<array value-type="java.lang.String">
<value>classpath:mapper/*.xml</value>
</array>
</property>
</bean> 

<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
<constructor-arg index="0"  ref="sqlSessionFactory"></constructor-arg>
</bean>

<!--  <bean id="sqlSession" factory-bean="sqlSessionFactory" scope="prototype" factory-method="openSession" destroy-method="close"></bean>-->
<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
<property name="basePackage" value="mapper"></property>
<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
</bean>


</beans>


